  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
           
                <!-- <a class="navbar-brand" href="#page-top">S-Mart</a> -->
                <a href="#page-top"><img class="logo-img" src="/public/Aishwarya/Shoppage/images/S-Mart-logos.jpeg" width="90" height="90" ALT="align box" ALIGN=CENTER ></a>
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">      
                      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>        
                        <li class="nav-item"><a class="nav-link" href="/shop/login">Shopkeeper</a></li>
                        <li class="nav-item"><a class="nav-link" href="/users/login">Customer</a></li>
                        <li class="nav-item"><a class="nav-link" href="/shop/allProduct">Product</a></li>
                    </ul>
              
            </div>
        </nav>



<article class = "Log-in">
  <div class="container mt-5">
    <header>
        <h1 class = "Login-heading">
           ShopKeeper Login
        </h1>
    </header>
     
    <div class="row">
      <div class="col-sm-8">
        <div class = "card">
        <div class="card-body">
          <form action = "/shop/login" method ="POST" id = "login-form">
    <br>
    <div class="form-group">
    <label class = "user-text" for = "username">
        User Name :
    </label>
    <input class="input100" class="form-control" name = "username" id = "username" type = "text" placeholder="username" required>
    <br>
    </div>
    <div class="form-group">
    <label class = "password-text" for = "password">
        Password : 
    </label>
    <input class="input100" class="form-control" name = "password" id = "password" type = "password" placeholder="password" required>
    <br>
    </div>
    {{!-- <input class = "login-button"  class="btn btn-dark" type = "submit" value = "Login"> --}}
    <button type = "submit"  class="btn btn-dark">Login</button>
    </form>
    {{#if error}}
    <p class = "login-error" id = "error">{{error}}</p>
    {{/if}}
    <p>New User? <a href="/shop/signup" >Click here</a> to signup</p> 
    <p id ="user-error" hidden>Either the username or password is incorrect</p>
    <p id = "pass-error" hidden>Either the username or password is incorrect</p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </article>