<menu>
  <ul id="nav">
    <li id="nav-home"><a href="/" class="current">Home</a></li>
    <li id="nav-shopkeeper"><a href="/shop/login">Shopkeeper</a></li>
    <li id="nav-customer"><a href="/users/login">Customer</a></li>
    <li id="nav-product"><a href="/shop/allProduct">Product</a></li>
  </ul>
</menu>



<div class="container mt-5">
  <h1>Login</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST" id = "login-form">
            <div class="form-group">
              <label for="username">Username</label>
             	<input class="input100" type="text" id= "username" class="form-control" name="username" placeholder="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
		<input class="input100" type="password" id="password" class="form-control" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>
    <p>New User? <a href="/signup" >Click here</a> to signup</p> 
    <p id ="user-error" hidden>Either the username or password is incorrect</p>
    <p id = "pass-error" hidden>Either the username or password is incorrect</p>
        </div>
      </div>
    </div>

 

  </div>

</div>