<menu>
  <ul id="nav">
    <li id="nav-home"><a href="/" class="current">Home</a></li>
    <li id="nav-shopkeeper"><a href="/shop/login">Shopkeeper</a></li>
    <li id="nav-customer"><a href="/users/login">Customer</a></li>
    <li id="nav-product"><a href="#">Product</a></li>
  </ul>
</menu>

<div class="container mt-5">
  <h1>Login</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/users/login" method="POST" id="loginForm">
            <div class="form-group">
              <label for="email">Email</label>
             	<input class="input100" type="email" id= "email" class="form-control" name="email" placeholder="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
		<input class="input100" type="password" id="password" class="form-control" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>
 <a href="/users/signup">Don't have an account? Click here to  Signup</a>
<div id="errorDiv"  hidden><p>{{error}}</p>
        </div>
      </div>
    </div>

 

  </div>

</div>


	
	{{!-- <div class="container-login100" style="background-image: url('/public/Aishwarya/images/bg-01.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form" action="/public/Aishwarya/users/login" method="POST" id="loginForm">
				<span class="login100-form-title p-b-37">
					Sign In
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
					<input class="input100" type="email" id= "email" name="email" placeholder="email">
					<span class="focus-input100"></span>
				</div>

				

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<input class="input100" type="password" id="password" name="password" placeholder="password">
					<span class="focus-input100"></span>
				</div>

             <div id="errorDiv"..hidden><p>{{error}}</p></div>
			 <p class = "error"> {{message}} </p>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Sign In
					</button>
				</div>

				<div class="text-center">
					<p><a href="/users/signup" class="txt2 hov1">
						Sign Up
					</a></p>
				</div>
				<div class="text-center p-t-57 p-b-20">
					<span class="txt1">
						Or login with
					</span>
				</div>

				<div class="flex-c p-b-112">
					<a href="#" class="login100-social-item">
						<i class="fa fa-facebook-f"></i>
					</a>

					<a href="#" class="login100-social-item">
						<img src="/public/Aishwarya/images/icons/icon-google.png" alt="GOOGLE">
					</a>
				</div>


			</form>

			
		</div>
	</div>
	 --}}
	

	{{!-- <div id="dropDownSelect1"></div> --}}
	